.fadder {position: relative; margin: 50px 0;}
.fadder .item-slider {margin: 40px 0; padding: 0; list-style: none; text-align: center; position: relative; height: 100px; -webkit-transition:  all 0.3s ease 0s;  transition: all 0.3s ease 0s; overflow: hidden; overflow-wrap: normal;  }
.fadder .item-slider .single {margin: 0; padding: 0 20px; list-style: none; display: inline-block; vertical-align: middle; }
.fadder .item-slider .single {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; /* Konqueror HTML */-moz-user-select: none; /* Firefox */-ms-user-select: none; user-select: none; }
.fadder .item-slider .fade-outer {position: absolute; top: 0; left: 0; right: 0; margin: 0 auto; -webkit-transition:  all 0.3s ease 0s;  transition: all 0.3s ease 0s; }
.fadder .item-slider .fade-outer:not(.active) {opacity: 0; visibility: hidden;}
.fadder .item-slider .fade-outer.active {visibility: visible; opacity: 1;}
.fadder .arrows {text-align: center;}
.fadder .arrows div {top: 0; cursor: pointer;  display: inline-block; vertical-align: top; margin: 10px;}
.fadder .arrows .left-arrow {position: static; left: -80px; }
.fadder .arrows .right-arrow {position: static; right: -80px; }
.fadder .dots {text-align: center;}
.fadder .dots span {display: inline-block; vertical-align: top; width: 40px; height: 40px; line-height: 40px; cursor: pointer; background-color: #eee; margin: 5px; border-radius: 100%; background-color: #000; color: #fff;}
.fadder .dots span.active {background-color: tomato;}