@charset "utf-8";
/* CSS Document */

/* Table of Contents
-----------------------------------------------------------------------------
	1. Clean Base
	2. Base Typography
	3. Images
	4. Links
	5. Forms
	6. Tables
	7. Framework 
*/

/* 1. Clean Base
------------------------------------------------------------------------------*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
:before, :after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, a, nav, section, summary, time, mark, audio, video { margin:0 auto; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration:none; list-style:none; outline:none; -webkit-font-smoothing: subpixel-antialiased; -webkit-tap-highlight-color:rgba(0,0,0,0); }
html, body { -webkit-text-size-adjust:none; -webkit-font-smoothing: antialiased; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
img { border:none; max-width:100%; }
input[type="text"], input[type="submit"], input[type="button"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], textarea { -webkit-appearance: none; outline: none; }
textarea:focus, input:focus, a, div, img { outline: none; }
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }
.clear { clear: both; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* 2. Base Typography
------------------------------------------------------------------------------*/
body { color:#000; font-size:16px; font-family: 'Lato', sans-serif; font-weight:400; line-height: 1.42857143; background-color: #fff; }
h1, h2, h3, h4, h5, h6 { margin-bottom:15px; font-weight:normal; }
h1 { font-size:30px;  font-weight:700; }
h2 { font-size:28px; font-weight:700; }
h3 { font-size:26px; font-weight:700; }
h4 { font-size:22px; }
h5 { font-size:20px; }
h6 { font-size:17px; }
p { font-size:16px; font-weight:400; line-height:22px; margin-bottom:15px; }
ul { margin:15px 0 15px 20px; padding:0; }
ul li { font-size:16px; color:#000; font-weight:400; line-height:18px; padding:0 0 5px 0; list-style:outside disc none; }
ol { margin:15px 0 15px 20px; padding:0; }
ol li { font-size:16px; color:#000; font-weight:400; line-height:18px; padding:0 0 5px 0; list-style: decimal;  }
blockquote { display:block; text-align:left; margin-bottom:15px; position:relative; background:#E2E4E1; padding:15px 15px 10px 15px; border-left:2px solid #668e39; }
blockquote p { font-size:13px; font-weight:400; line-height:17px; margin-bottom:15px; position:relative; }
hr { border:0 #c2c2c2 solid; border-top-width:1px; clear:both; height:0; }

/* 3. Images
------------------------------------------------------------------------------*/
img { border:none; border-style: none; vertical-align:top; height: auto;}
.aligncenter {display: block; clear:both; margin:20px auto;}
.alignleft {float: left; margin: 0 20px 20px 0; }
.alignright {float: right; margin: 0 0 20px 20px;}

/* 4. Link
------------------------------------------------------------------------------*/
/*a { color:#fff; }
a:hover { color:#346300; text-decoration: underline; }
a:active, a.current { color: #346300; }
a:focus { outline: none; }*/

/* 5. Forms
------------------------------------------------------------------------------*/
input[type="submit"], input[type="reset"], input[type="text"], input[type="button"], input[type="search"], input[type="url"], input[type="tel"], input[type="email"], input[type="password"], textarea { -webkit-appearance: none !important; border-radius: 0; }
::-webkit-input-placeholder {
 opacity: 1 !important;
 color: #fff;
}
:-moz-placeholder {
 opacity: 1 !important;
 color: #fff;
}
::-moz-placeholder {
 opacity: 1 !important;
 color: #fff;
}
:-ms-input-placeholder {
 opacity: 1 !important;
 color: #fff;
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], textarea { border:none; padding: 0 15px; color:#5b5b5b; font-size:16px;  height:44px; font-family: 'PT Sans Narrow', sans-serif; font-weight:400; background-color:#ffffff; border-radius:4px; -webkit-transition:  all 0.3s ease 0s; transition: all 0.3s ease 0s; }
textarea { height:248px; resize:none; padding: 15px 15px;}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="search"]:focus, textarea:focus {}
input[type="submit"], input[type="button"], input[type="reset"] { border: none; border-radius: 4px; color: #ffffff; display: inline-block; font-family: 'PT Sans Narrow', sans-serif; font-weight:400; font-size: 24px; height: 49px; line-height: 26px; text-transform: uppercase; vertical-align: top; max-width: 203px; background:url(../images/submit-btn-bg.png) no-repeat center center; cursor:pointer; -webkit-transition:  all 0.3s ease 0s; transition: all 0.3s ease 0s; padding:0 0 6px;} 
input[type="submit"]:hover, input[type="button"]:hover {opacity: 0.8; filter: alpha(opacity=80);}
label{color:#fff; font-family: 'PT Sans Narrow', sans-serif; font-size:30px; line-height:1;}

select, select:-moz-focusring, select::-moz-focus-inner {
   color: transparent !important;
   text-shadow: 0 0 0 #1a1a1a !important;
   background-image: none !important;
   border:0;
   border-color: inherit;
  -webkit-box-shadow: none;
}
select:focus {
    outline: none;
}	


/* 6. Tables
------------------------------------------------------------------------------*/
table { border-spacing: 0; border-collapse: collapse; }
td { text-align: left; font-weight: normal; }

/* 7. Layout Framework
------------------------------------------------------------------------------*/
.dis-table { display:table; height:100%; width:100%; }
.dis-table-cell { display:table-cell; vertical-align:middle }

/* main container */
* {overflow-wrap: break-word;}
#wrapper { width:100%; min-height:100%; }
.container { max-width:1070px; width:100%; margin:0 auto; }

.main {text-align: center; padding: 40px 20px; border-left: 1px solid #ebebeb;border-right: 1px solid #ebebeb;}
.main .content {background-color: #ebebeb; padding: 40px 50px;}
.main .content h1 {margin: 10px 0 20px; background: #fff;}

.content-desc {text-align: left; background-color: #eee; padding: 40px 80px;}

span.orange {color: #e88555;}
span.purple {color: #b47aad;}
span.grey {color: #b7b7b7;}

a.link { display: inline-block; vertical-align: top; padding: 0; background-color: #fff; margin: 0; border: 3px double #000000; color: #000; font-size: 18px; height: 48px; line-height: 44px; width: 220px; text-align: center; text-decoration: none; -webkit-transition:  all 0.3s ease 0s;  transition: all 0.3s ease 0s;}
a.link:hover { transform: scale(1.1); background-color: #000; color: #fff;}
a.link:hover path {fill: #fff;}
a.link svg {vertical-align: middle; margin: -6px 8px 0 0;}
    
.token.string { color: #e74c3c;}

@media (max-width: 767px) {
    .content-desc {
      padding: 20px;
    }
    pre {
      margin: 0 0 20px;
      padding: 20px 15px 10px;
    }
}




